html {
    background-image: url("../images/background-example.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.todo {
    width: fit-content;
    background-color: white;
    height: auto;
    color: black;
    touch-action: none;
    user-select: none;
    border-radius: 1em;
    box-shadow: 2px 2px 2px darkgray;
}

.todo .contents {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0;
    margin-top: 0;
}

.todo .contents p {
    margin-top: 0;
    margin-bottom: 0.1em;
}

.todo .category_ribbon {
    height: 16px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: blue;
}

p.title {
    font-weight: bold;
}

p.subtitle {
    color: gray;
    font-size: 0.8em;
}

.todo .contents span {
    color: gray;
    font-size: 0.8em;
}

span.remaining_time {
    float: right;
}

#phase-row {
    display: flex;
    height: 100%;
}

#phase-row > div {
    border-left: transparent;
    border-top: transparent;
    border-bottom: transparent;
    border-right: darkgray;
    border-style: dotted;
    flex: 50%;
}

#footer-ui {
    height: 5%;
    width: 100%;
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
}

#footer-ui * {
    margin: 0;
}

#overall-percentages {
    flex: 80%;
    color:black;
    font-weight: bold;
}

#overall-percentages p.title {
    padding-left: 0.5em;
}

#overall-percentages div.percentage {
    background-color: lightblue;
    height: 90%;
}

#user-info {
    display:flex;
    flex: 10%;
    border-top-left-radius: 1em;
    background-color: #494949;
    font-weight: bold;
    color:white;
    justify-content: center;
    align-items: center;
}

#user-pic {
    flex: 40%;
}

#user-pic img {
    display:block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 2em;
    height: 2em;
}

#user-nickname {
    flex: 60%;
}