html {
    background-color: #404040;
    height: 50%;
}

body {
    height: 100%;
}

#login_div {
    background-color: white;
    width: 30%;
    height: 30%;
    margin: 25% auto 25% auto;
    padding: 1em;
    border-radius: 2em;
    box-shadow: 2px 2px 2px darkgray;
}