html {
    font-family: 'Lato', sans-serif;
    background-color: #1C1D1E;
    color: white;
    height: 100%;
}

#header-container {
    padding: 16px;
    font-size: 1.8em;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

#header-container >* {
    padding-right: 16px;
}

#header-container img {
    width: 64px;
    height: 64px;
}

#register_div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 20%;
    padding: 16px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}