.todo {
    width: fit-content;
    background-color: white;
    height: auto;
    color: black;
    touch-action: none;
    user-select: none;
    border-radius: 1em;
    box-shadow: 2px 2px 2px darkgray;
}

.todo .contents {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    margin-bottom: 0;
    margin-top: 0;
}

.todo .contents p {
    margin-top: 0;
    margin-bottom: 0.1em;
}

.todo .category_ribbon {
    height: 16px;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    background-color: blue;
}

.todo[completed] {
    background-color: gold;
}

.todo .controlbox {
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

.todo .controlbox i {
    cursor: pointer;
}

.todo p.title {
    font-weight: bold;
}

.todo p.subtitle {
    color: gray;
    font-size: 0.8em;
}

.todo .contents span {
    color: gray;
    font-size: 0.8em;
}

.todo span.remaining_time {
    float: right;
}